.ins-form__input {
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.1rem solid #000;
    padding: 1rem;
    transition: all 0.3s;
}

.ins-form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(#000, 0.1);
    border-bottom: 2px solid #6c757d;
}

.ins-form__input::placeholder {
    color: #6c757d;
}

.ins-form__input[type="number"] {
    appearance: textfield;
}

.ins-form__group {
    display: flex;
}

.ins-form__input[type="checkbox"] {
    padding: 0;
    position: relative;
}

.ins-form__input[type="checkbox"]:hover {
    border: 0.1rem solid #6c757d;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px #6c757d;
}
